@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col">
            <a asp-action="Index" asp-controller="Bands">Bands</a>
        </div>
        <div class="col">
            <a asp-action="Index" asp-controller="Users">Users</a>
        </div>
        <div class="col">           
        </div>
    </div>
</div>
